.btn-h1-spacing {
	margin-top: 30px;
}

#saldo {
	width: 260px;
	height: 110px;
	padding: 10px;
	color: #fff;
	text-align: right;
    border-radius: 5px;
}

#saldo label {
	font-weight: lighter;
	margin-bottom: 10px;
}

#saldo #valor {
	font-size: 40px;
	font-weight: bolder;
}

.bg-green {
	background-color: green;
}

.bg-gray {
	background-color: #ccc;
	color: #000;
}

.bg-red {
	background-color: #ff6666;
}
